<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SeagullBankWebApp</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccountController</display-name>
    <servlet-name>AccountController</servlet-name>
    <servlet-class>com.controller.AccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
    <servlet>  
    <description></description>  
    <display-name>LogoutController</display-name>  
    <servlet-name>LogoutController</servlet-name>  
    <servlet-class>com.controller.LogoutController</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LogoutController</servlet-name>  
    <url-pattern>/logout</url-pattern>  
  </servlet-mapping>
 	<servlet>  
    <description></description>  
    <display-name>AccountNumberController</display-name>  
    <servlet-name>AccountNumberController</servlet-name>  
    <servlet-class>com.controller.AccountNumberController</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>AccountNumberController</servlet-name>  
    <url-pattern>/account_number</url-pattern>  
  </servlet-mapping>
   	<servlet>  
    <description></description>  
    <display-name>CreateAccountController</display-name>  
    <servlet-name>CreateAccountController</servlet-name>  
    <servlet-class>com.controller.CreateAccountController</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>CreateAccountController</servlet-name>  
    <url-pattern>/create_account</url-pattern>  
  </servlet-mapping>
     	<servlet>  
    <description></description>  
    <display-name>TransactionController</display-name>  
    <servlet-name>TransactionController</servlet-name>  
    <servlet-class>com.controller.TransactionController</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>TransactionController</servlet-name>  
    <url-pattern>/add_transaction</url-pattern>  
  </servlet-mapping>
  <servlet>  
    <description></description>  
    <display-name>SelectAccountController</display-name>  
    <servlet-name>SelectAccountController</servlet-name>  
    <servlet-class>com.controller.SelectAccountController</servlet-class>  
  </servlet>
  <servlet-mapping>  
    <servlet-name>SelectAccountController</servlet-name>  
    <url-pattern>/select_account</url-pattern>
  </servlet-mapping>   
    <servlet>  
    <description></description>  
    <display-name>MakeTransferController</display-name>  
    <servlet-name>MakeTransferController</servlet-name>  
    <servlet-class>com.controller.MakeTransferController</servlet-class>  
  </servlet>
  <servlet-mapping>  
    <servlet-name>MakeTransferController</servlet-name>  
    <url-pattern>/make_transfer</url-pattern>
  </servlet-mapping>  
      <servlet>  
    <description></description>  
    <display-name>ResponseTransferController</display-name>  
    <servlet-name>ResponseTransferController</servlet-name>  
    <servlet-class>com.controller.ResponseTransferController</servlet-class>  
  </servlet>
  <servlet-mapping>  
    <servlet-name>ResponseTransferController</servlet-name>  
    <url-pattern>/response_transfer</url-pattern>
  </servlet-mapping>      
        <servlet>  
    <description></description>  
    <display-name>AllAccountTransfersController</display-name>  
    <servlet-name>AllAccountTransfersController</servlet-name>  
    <servlet-class>com.controller.AllAccountTransfersController</servlet-class>  
  </servlet>
  <servlet-mapping>  
    <servlet-name>AllAccountTransfersController</servlet-name>  
    <url-pattern>/all_account_transfers</url-pattern>
  </servlet-mapping>         

</web-app>