body {
    background-color : whitesmoke;
}

input {
    width : 50vw;
}

#registerButton {
    width : 100%;
    height : 8%;
    margin-top : 10px;
    margin-bottom: 30px;
}

#navbarSeagull {
    width : 40px;
};

.container {
    margin-top: 10px;
}

a {
    color : #222;
}

.register-btn {
    background-color : dodgerblue;
    /* color : whitesmoke; */
}

.submit-register {
    color : whitesmoke;
}